{
  "openapi": "3.0.0",
  "info": {
    "title": "IUDX-AAA-BIS",
    "version": "1.0",
    "contact": {
      "url": "https://www.iudx.org.in"
    },
    "description": "BIS Specification Draft APIs"
  },
  "servers": [
    {
      "url": "https://authorization.iudx.org.in",
      "description": "Production Server"
    }
  ],
  "tags": [
    {
      "name": "User Profile"
    }
  ],
  "paths": {
    "/auth/v1/user/profile": {
      "get": {
        "summary": "Read User Profile",
        "tags": [
          "User Profile"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/ResponseType"
                    },
                    "details": {
                      "$ref": "#/components/schemas/UserProfile"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "type": "urn:iudx:aaa:Success",
                      "details": {
                        "email": "user@example.com",
                        "phone": "9876543210",
                        "name": {
                          "title": "Mr.",
                          "first_name": "Foo",
                          "last_name": "Bar"
                        },
                        "roles": [
                          "provider"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Missing Token": {
                    "value": {
                      "type": "urn:iudx:aaa:MissingToken",
                      "title": "Unauthorized",
                      "details": "Authorization Code missing from request headers"
                    }
                  },
                  "Invalid Token": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidToken",
                      "title": "Unauthorized",
                      "details": "Invalid token: token expired"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-user-profile",
        "description": "Get the user profile of an authenticated user"
      },
      "post": {
        "summary": "Create User Profile",
        "operationId": "post-user-profile",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/ResponseType"
                    },
                    "details": {
                      "$ref": "#/components/schemas/UserProfile"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "type": "urn:iudx:aaa:Success",
                      "details": {
                        "email": "user@example.com",
                        "phone": "9876543210",
                        "name": {
                          "title": "Mr.",
                          "first_name": "Foo",
                          "last_name": "Bar"
                        },
                        "roles": [
                          "provider"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Missing Information": {
                    "value": {
                      "type": "urn:iudx:aaa:MissingInformation",
                      "title": "Bad Request",
                      "details": "Missing information: email, phone"
                    }
                  },
                  "Invalid Input": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidInput",
                      "title": "Bad Request",
                      "details": "Invalid input: email"
                    }
                  },
                  "Invalid Role": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidRole",
                      "title": "Bad Request",
                      "details": "Invalid role: nonexistent_role"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Missing Token": {
                    "value": {
                      "type": "urn:iudx:aaa:MissingToken",
                      "title": "Unauthorized",
                      "details": "Authorization Code missing from request headers"
                    }
                  },
                  "Invalid Token": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidToken",
                      "title": "Unauthorized",
                      "details": "Invalid token: token expired"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Already Exists": {
                    "value": {
                      "type": "urn:iudx:aaa:AlreadyExists",
                      "title": "Conflict",
                      "details": "User with given email already exists"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create profile of an authenticated user as part of registration process",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/UserProfile"
                  }
                }
              },
              "examples": {
                "Create User": {
                  "value": {
                    "data": {
                      "email": "user@example.com",
                      "phone": "9876543210",
                      "name": {
                        "title": "Mr.",
                        "first_name": "Foo",
                        "last_name": "Bar"
                      },
                      "roles": [
                        "provider"
                      ]
                    }
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "User Profile"
        ]
      },
      "put": {
        "summary": "Update User Profile",
        "operationId": "put-user-profile",
        "description": "Modify user profile by an authenticated user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/UserProfile"
                  }
                }
              },
              "examples": {
                "Update User": {
                  "value": {
                    "data": {
                      "email": "user@example.com",
                      "phone": "9876543210",
                      "name": {
                        "title": "Mr.",
                        "first_name": "Foo",
                        "last_name": "Bar"
                      },
                      "roles": [
                        "provider"
                      ]
                    }
                  }
                }
              }
            }
          },
          "description": ""
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/ResponseType"
                    },
                    "details": {
                      "$ref": "#/components/schemas/UserProfile"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "type": "urn:iudx:aaa:Success",
                      "details": {
                        "email": "user@example.com",
                        "phone": "9876543210",
                        "name": {
                          "title": "Mr.",
                          "first_name": "Foo",
                          "last_name": "Bar"
                        },
                        "roles": [
                          "provider"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Missing Information": {
                    "value": {
                      "type": "urn:iudx:aaa:MissingInformation",
                      "title": "Bad Request",
                      "details": "Missing information: email, phone"
                    }
                  },
                  "Invalid Input": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidInput",
                      "title": "Bad Request",
                      "details": "Invalid input: email"
                    }
                  },
                  "Invalid Role": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidRole",
                      "title": "Bad Request",
                      "details": "Invalid role: nonexistent_role"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Missing Token": {
                    "value": {
                      "type": "urn:iudx:aaa:MissingToken",
                      "title": "Unauthorized",
                      "details": "Authorization Code missing from request headers"
                    }
                  },
                  "Invalid Token": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidToken",
                      "title": "Unauthorized",
                      "details": "Invalid token: token expired"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": [
          "User Profile"
        ]
      },
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ResponseType": {
        "type": "string",
        "enum": [
          "urn:iudx:aaa:Success",
          "urn:iudx:aaa:MissingInformation",
          "urn:iudx:aaa:InvalidInput",
          "urn:iudx:aaa:InvalidRole",
          "urn:iudx:aaa:AlreadyExists",
          "urn:iudx:aaa:MissingToken",
          "urn:iudx:aaa:InvalidToken",
          "urn:iudx:aaa:InvalidScope"
        ]
      },
      "UserProfile": {
        "title": "UserProfile",
        "type": "object",
        "description": "",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string",
            "pattern": "^[9876]\\d{9}$",
            "example": "9876543210"
          },
          "name": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "enum": [
                  "Mr.",
                  "Ms.",
                  "Mrs.",
                  "Dr."
                ]
              },
              "first_name": {
                "type": "string",
                "maxLength": 30,
                "example": "Foo"
              },
              "last_name": {
                "type": "string",
                "maxLength": 30,
                "example": "Bar"
              }
            }
          },
          "roles": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "provider",
                "consumer",
                "onboarder",
                "ingester"
              ]
            }
          }
        }
      },
      "ErrorObject": {
        "title": "ErrorObject",
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ResponseType"
          },
          "title": {
            "type": "string"
          },
          "details": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {},
    "responses": {}
  }
}