{
  "openapi": "3.0.0",
  "info": {
    "title": "IUDX-AAA-BIS",
    "version": "1.0",
    "contact": {
      "url": "https://www.iudx.org.in"
    },
    "description": "BIS Specification Draft APIs"
  },
  "servers": [
    {
      "url": "https://authorization.iudx.org.in",
      "description": "Production Server"
    }
  ],
  "tags": [
    {
      "name": "User Profile"
    },
    {
      "name": "Policy"
    }
  ],
  "paths": {
    "/auth/v1/user/profile": {
      "get": {
        "summary": "Read User Profile",
        "tags": [
          "User Profile"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/ResponseType"
                    },
                    "details": {
                      "$ref": "#/components/schemas/UserProfile"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "type": "urn:iudx:aaa:Success",
                      "details": {
                        "email": "user@example.com",
                        "phone": "9876543210",
                        "name": {
                          "title": "Mr.",
                          "first_name": "Foo",
                          "last_name": "Bar"
                        },
                        "roles": [
                          "provider"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Missing Token": {
                    "value": {
                      "type": "urn:iudx:aaa:MissingToken",
                      "title": "Unauthorized",
                      "details": "Authorization Code missing from request headers"
                    }
                  },
                  "Invalid Token": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidToken",
                      "title": "Unauthorized",
                      "details": "Invalid token: token expired"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-user-profile",
        "description": "Get the user profile of an authenticated user"
      },
      "post": {
        "summary": "Create User Profile",
        "operationId": "post-user-profile",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/ResponseType"
                    },
                    "details": {
                      "$ref": "#/components/schemas/UserProfile"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "type": "urn:iudx:aaa:Success",
                      "details": {
                        "email": "user@example.com",
                        "phone": "9876543210",
                        "name": {
                          "title": "Mr.",
                          "first_name": "Foo",
                          "last_name": "Bar"
                        },
                        "roles": [
                          "provider"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Missing Information": {
                    "value": {
                      "type": "urn:iudx:aaa:MissingInformation",
                      "title": "Bad Request",
                      "details": "Missing information: email, phone"
                    }
                  },
                  "Invalid Input": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidInput",
                      "title": "Bad Request",
                      "details": "Invalid input: email"
                    }
                  },
                  "Invalid Role": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidRole",
                      "title": "Bad Request",
                      "details": "Invalid role: nonexistent_role"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Missing Token": {
                    "value": {
                      "type": "urn:iudx:aaa:MissingToken",
                      "title": "Unauthorized",
                      "details": "Authorization Code missing from request headers"
                    }
                  },
                  "Invalid Token": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidToken",
                      "title": "Unauthorized",
                      "details": "Invalid token: token expired"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Already Exists": {
                    "value": {
                      "type": "urn:iudx:aaa:AlreadyExists",
                      "title": "Conflict",
                      "details": "User with given email already exists"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create profile of an authenticated user as part of registration process",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/UserProfile"
                  }
                }
              },
              "examples": {
                "Create User": {
                  "value": {
                    "data": {
                      "email": "user@example.com",
                      "phone": "9876543210",
                      "name": {
                        "title": "Mr.",
                        "first_name": "Foo",
                        "last_name": "Bar"
                      },
                      "roles": [
                        "provider"
                      ]
                    }
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "User Profile"
        ]
      },
      "put": {
        "summary": "Update User Profile",
        "operationId": "put-user-profile",
        "description": "Modify user profile by an authenticated user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/UserProfile"
                  }
                }
              },
              "examples": {
                "Update User": {
                  "value": {
                    "data": {
                      "email": "user@example.com",
                      "phone": "9876543210",
                      "name": {
                        "title": "Mr.",
                        "first_name": "Foo",
                        "last_name": "Bar"
                      },
                      "roles": [
                        "provider"
                      ]
                    }
                  }
                }
              }
            }
          },
          "description": ""
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/ResponseType"
                    },
                    "details": {
                      "$ref": "#/components/schemas/UserProfile"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "type": "urn:iudx:aaa:Success",
                      "details": {
                        "email": "user@example.com",
                        "phone": "9876543210",
                        "name": {
                          "title": "Mr.",
                          "first_name": "Foo",
                          "last_name": "Bar"
                        },
                        "roles": [
                          "provider"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Missing Information": {
                    "value": {
                      "type": "urn:iudx:aaa:MissingInformation",
                      "title": "Bad Request",
                      "details": "Missing information: email, phone"
                    }
                  },
                  "Invalid Input": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidInput",
                      "title": "Bad Request",
                      "details": "Invalid input: email"
                    }
                  },
                  "Invalid Role": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidRole",
                      "title": "Bad Request",
                      "details": "Invalid role: nonexistent_role"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Missing Token": {
                    "value": {
                      "type": "urn:iudx:aaa:MissingToken",
                      "title": "Unauthorized",
                      "details": "Authorization Code missing from request headers"
                    }
                  },
                  "Invalid Token": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidToken",
                      "title": "Unauthorized",
                      "details": "Invalid token: token expired"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": [
          "User Profile"
        ]
      },
      "parameters": []
    },
    "/auth/v1/policies": {
      "get": {
        "summary": "Read policies",
        "tags": [
          "Policy"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/ResponseType"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PolicyObject"
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "type": "urn:iudx:aaa:Success",
                      "details": [
                        {
                          "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                          "user_id": "a169451c-8525-4352-b8ca-070dd449a1a5",
                          "created_by": "ee824cad-d7a6-4f48-87dc-e8461a9201c4",
                          "entity_id": "catalogue_id",
                          "scopes": [
                            "complex"
                          ],
                          "constraints": {
                            "expiry_time": "2019-08-24T14:15:22Z"
                          },
                          "entity_type": "resourcegroup",
                          "role": "consumer"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Missing Token": {
                    "value": {
                      "type": "urn:iudx:aaa:MissingToken",
                      "title": "Unauthorized",
                      "details": "Authorization Code missing from request headers"
                    }
                  },
                  "Invalid Token": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidToken",
                      "title": "Unauthorized",
                      "details": "Invalid token: token expired"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-auth-v1-policies",
        "description": "Get all related policies of an authenticated user (provider or consumer)"
      },
      "post": {
        "summary": "Create Policies",
        "operationId": "post-auth-v1-policies",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/ResponseType"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PolicyObject"
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "type": "urn:iudx:aaa:Success",
                      "details": [
                        {
                          "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                          "user_id": "a169451c-8525-4352-b8ca-070dd449a1a5",
                          "created_by": "ee824cad-d7a6-4f48-87dc-e8461a9201c4",
                          "entity_id": "catalogue_id",
                          "scopes": [
                            "complex"
                          ],
                          "constraints": {
                            "expiry_time": "2019-08-24T14:15:22Z"
                          },
                          "entity_type": "resourcegroup",
                          "role": "consumer"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Missing Information": {
                    "value": {
                      "type": "urn:iudx:aaa:MissingInformation",
                      "title": "Bad Request",
                      "details": "Missing information: entity_id"
                    }
                  },
                  "Invalid Input": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidInput",
                      "title": "Bad Request",
                      "details": "Invalid input: entity_id"
                    }
                  },
                  "Invalid Scope": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidScope",
                      "title": "Bad Request",
                      "details": "Invalid scope: nonexistent_scope"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Missing Token": {
                    "value": {
                      "type": "urn:iudx:aaa:MissingToken",
                      "title": "Unauthorized",
                      "details": "Authorization Code missing from request headers"
                    }
                  },
                  "Invalid Token": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidToken",
                      "title": "Unauthorized",
                      "details": "Invalid token: token expired"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Already Exists": {
                    "value": {
                      "type": "urn:iudx:aaa:AlreadyExists",
                      "title": "Conflict",
                      "details": "Policy already exists"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create new policies by an authenticated provider",
        "tags": [
          "Policy"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PolicyObject"
                    }
                  }
                }
              },
              "examples": {
                "Create policies": {
                  "value": {
                    "data": [
                      {
                        "user_id": "a169451c-8525-4352-b8ca-070dd449a1a5",
                        "entity_id": "catalogue_id",
                        "scopes": [
                          "complex"
                        ],
                        "constraints": {
                          "expiry_time": "2019-08-24T14:15:22Z"
                        },
                        "entity_type": "resourcegroup",
                        "role": "consumer"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Policies",
        "operationId": "put-auth-v1-policies",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/ResponseType"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PolicyObject"
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "type": "urn:iudx:aaa:Success",
                      "details": [
                        {
                          "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                          "user_id": "a169451c-8525-4352-b8ca-070dd449a1a5",
                          "created_by": "ee824cad-d7a6-4f48-87dc-e8461a9201c4",
                          "entity_id": "catalogue_id",
                          "scopes": [
                            "complex"
                          ],
                          "constraints": {
                            "expiry_time": "2019-08-24T14:15:22Z"
                          },
                          "entity_type": "resourcegroup",
                          "role": "consumer"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Missing Information": {
                    "value": {
                      "type": "urn:iudx:aaa:MissingInformation",
                      "title": "Bad Request",
                      "details": "Missing information: entity_id"
                    }
                  },
                  "Invalid Input": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidInput",
                      "title": "Bad Request",
                      "details": "Invalid input: entity_id"
                    }
                  },
                  "Invalid Scope": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidScope",
                      "title": "Bad Request",
                      "details": "Invalid scope: nonexistent_scope"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Missing Token": {
                    "value": {
                      "type": "urn:iudx:aaa:MissingToken",
                      "title": "Unauthorized",
                      "details": "Authorization Code missing from request headers"
                    }
                  },
                  "Invalid Token": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidToken",
                      "title": "Unauthorized",
                      "details": "Invalid token: token expired"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Modify policies by an authenticated and authorized provider",
        "tags": [
          "Policy"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PolicyObject"
                    }
                  }
                }
              },
              "examples": {
                "Update policies": {
                  "value": {
                    "data": [
                      {
                        "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                        "user_id": "a169451c-8525-4352-b8ca-070dd449a1a5",
                        "entity_id": "catalogue_id",
                        "scopes": [
                          "complex"
                        ],
                        "entity_type": "resourcegroup",
                        "role": "consumer"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Policies",
        "operationId": "delete-auth-v1-policies",
        "description": "Delete policies by an authenticated and authorised provider",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyObject"
              },
              "examples": {
                "Delete policies/scopes": {
                  "value": {
                    "data": [
                      {
                        "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                        "scopes": [
                          "complex"
                        ]
                      },
                      {
                        "id": "ee824cad-d7a6-4f48-87dc-e8461a9201c4"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Policy"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/ResponseType"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "type": "urn:iudx:aaa:Success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Missing Information": {
                    "value": {
                      "type": "urn:iudx:aaa:MissingInformation",
                      "title": "Bad Request",
                      "details": "Missing information: policy_id"
                    }
                  },
                  "Invalid Input": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidInput",
                      "title": "Bad Request",
                      "details": "Invalid input: scopes"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                },
                "examples": {
                  "Missing Token": {
                    "value": {
                      "type": "urn:iudx:aaa:MissingToken",
                      "title": "Unauthorized",
                      "details": "Authorization Code missing from request headers"
                    }
                  },
                  "Invalid Token": {
                    "value": {
                      "type": "urn:iudx:aaa:InvalidToken",
                      "title": "Unauthorized",
                      "details": "Invalid token: token expired"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResponseType": {
        "type": "string",
        "enum": [
          "urn:iudx:aaa:Success",
          "urn:iudx:aaa:MissingInformation",
          "urn:iudx:aaa:InvalidInput",
          "urn:iudx:aaa:InvalidRole",
          "urn:iudx:aaa:AlreadyExists",
          "urn:iudx:aaa:MissingToken",
          "urn:iudx:aaa:InvalidToken",
          "urn:iudx:aaa:InvalidScope"
        ]
      },
      "UserProfile": {
        "title": "UserProfile",
        "type": "object",
        "description": "",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string",
            "pattern": "^[9876]\\d{9}$",
            "example": "9876543210"
          },
          "name": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "enum": [
                  "Mr.",
                  "Ms.",
                  "Mrs.",
                  "Dr."
                ]
              },
              "first_name": {
                "type": "string",
                "maxLength": 30,
                "example": "Foo"
              },
              "last_name": {
                "type": "string",
                "maxLength": 30,
                "example": "Bar"
              }
            }
          },
          "roles": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "provider",
                "consumer",
                "onboarder",
                "ingester"
              ]
            }
          }
        }
      },
      "ErrorObject": {
        "title": "ErrorObject",
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ResponseType"
          },
          "title": {
            "type": "string"
          },
          "details": {
            "type": "string"
          }
        }
      },
      "PolicyObject": {
        "title": "PolicyObject",
        "type": "object",
        "x-examples": {},
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "user_id": {
            "type": "string",
            "format": "uuid"
          },
          "created_by": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "entity_id": {
            "type": "string",
            "example": "catalogue_id"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "complex",
                "temporal",
                "subscription"
              ]
            }
          },
          "constraints": {
            "type": "object",
            "properties": {
              "expiry_time": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "entity_type": {
            "type": "string",
            "enum": [
              "resourcegroup",
              "resource"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "consumer",
              "onboarder",
              "delegate",
              "ingester"
            ]
          }
        }
      }
    },
    "securitySchemes": {},
    "responses": {}
  }
}