{
  "openapi": "3.0.0",
  "info": {
    "title": "IUDX AAA Server (2.0)",
    "version": "1.0",
    "description": "API spec for IUDX AAA server 2.0",
    "contact": {
      "name": "Foo",
      "url": "Bar"
    }
  },
  "servers": [
    {
      "url": "https://authorization.iudx.org.in"
    }
  ],
  "paths": {
    "/auth/v1/user/profile": {
      "post": {
        "summary": "Create a new user profile",
        "operationId": "post-user-profile",
        "responses": {
          "201": {
            "description": "User Created. Client secret is also returned. ",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "type": "URN:SUCCESS",
                      "title": "User created",
                      "detail": [
                        {
                          "keycloakId": "c0c52fd1-e9de-456c-b553-8d408e8d2a42",
                          "name": {
                            "firstName": "Foo",
                            "lastName": "Bar"
                          },
                          "roles": [
                            "CONSUMER"
                          ],
                          "userId": "67194fc9-495e-40f7-b016-4470c1d4397f",
                          "clients": [
                            {
                              "client": "default",
                              "clientId": "6d0b58c3-c0c4-48af-bca2-4f255c0e73a7",
                              "clientSecret": "a18cb9fc-06b3-4ae5-8220-86fc4e89a1a6"
                            }
                          ],
                          "email": "ngoaf@chspomvjuq.com"
                        }
                      ]
                    }
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string",
                      "minLength": 1
                    },
                    "results": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "keycloakId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "name": {
                            "type": "object",
                            "properties": {
                              "firstName": {
                                "type": "string",
                                "minLength": 1
                              },
                              "lastName": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
                            "required": [
                              "firstName",
                              "lastName"
                            ]
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "userId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "clients": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "type": "object",
                              "properties": {
                                "client": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "clientId": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "clientSecret": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              },
                              "required": [
                                "client",
                                "clientId",
                                "clientSecret"
                              ]
                            }
                          },
                          "email": {
                            "type": "string",
                            "minLength": 1
                          },
                          "phone": {
                            "type": "string"
                          },
                          "organization": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "keycloakId",
                          "userId",
                          "email"
                        ]
                      }
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "results"
                  ]
                },
                "examples": {
                  "Example": {
                    "value": {
                      "type": "urn:dx:as:Success",
                      "title": "User created",
                      "results": [
                        {
                          "keycloakId": "c0c52fd1-e9de-456c-b553-8d408e8d2a42",
                          "name": {
                            "firstName": "Foo",
                            "lastName": "Bar"
                          },
                          "roles": [
                            "CONSUMER"
                          ],
                          "userId": "67194fc9-495e-40f7-b016-4470c1d4397f",
                          "clients": [
                            {
                              "client": "default",
                              "clientId": "6d0b58c3-c0c4-48af-bca2-4f255c0e73a7",
                              "clientSecret": "a18cb9fc-06b3-4ae5-8220-86fc4e89a1a6"
                            }
                          ],
                          "email": "ngoaf@chspomvjuq.com",
                          "phone": "9989967899",
                          "organization": {
                            "name": "example",
                            "url": "example.com"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing Required Information"
          },
          "401": {
            "description": "Unauthorized - token invalid/expired"
          },
          "409": {
            "description": "A user profile already exists for the user",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string",
                      "minLength": 1
                    },
                    "detail": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "detail"
                  ],
                  "x-examples": {
                    "example-1": {
                      "type": "urn:dx:as:AlreadyExists",
                      "title": "User exists",
                      "detail": "User has an existing user profile"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "type": "urn:dx:as:AlreadyExists",
                      "title": "User exists",
                      "detail": "User has an existing user profile"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roles": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "maxItems": 3,
                    "items": {
                      "type": "string",
                      "enum": [
                        "consumer",
                        "provider",
                        "delegate"
                      ]
                    }
                  },
                  "orgId": {
                    "type": "string",
                    "description": "The organization ID",
                    "format": "uuid"
                  },
                  "phone": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 10,
                    "pattern": "^[9876]\\d{9}$",
                    "example": "9845598989"
                  }
                },
                "required": [
                  "roles"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "roles": [
                      "consumer"
                    ],
                    "orgId": "25b2c2d5-a7fc-47d0-89e4-8709a1560bfa",
                    "phone": "9845598989"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "description": "Create a new user profile",
        "security": [
          {
            "OIDC Authentication": []
          }
        ],
        "tags": [
          "User Profile APIs"
        ]
      },
      "parameters": [],
      "get": {
        "summary": "List user profile",
        "operationId": "get-user-profile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "type": "urn:dx:as:Success",
                      "title": "User details",
                      "detail": [
                        {
                          "keycloakId": "c46e7a5d-7c2d-471e-8222-6a59a5095e7a",
                          "name": {
                            "firstName": "B",
                            "lastName": "c"
                          },
                          "roles": [
                            "PROVIDER",
                            "CONSUMER"
                          ],
                          "userId": "a13eb955-c691-4fd3-b200-f18bc78810b5",
                          "email": "bye@example.com",
                          "clients": [
                            {
                              "clientName": "default",
                              "clientId": "a3e7e34c-44bf-41ff-ad86-2ee04a954418"
                            }
                          ],
                          "phone": "9945697899",
                          "organization": {
                            "name": "example",
                            "url": "example.com"
                          }
                        }
                      ]
                    }
                  },
                  "properties": {
                    "type": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string",
                      "minLength": 1
                    },
                    "detail": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "keycloakId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "name": {
                            "type": "object",
                            "properties": {
                              "firstName": {
                                "type": "string",
                                "minLength": 1
                              },
                              "lastName": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
                            "required": [
                              "firstName",
                              "lastName"
                            ]
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "userId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "email": {
                            "type": "string",
                            "minLength": 1
                          },
                          "clients": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "type": "object",
                              "properties": {
                                "clientName": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "clientId": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              },
                              "required": [
                                "clientName",
                                "clientId"
                              ]
                            }
                          },
                          "phone": {
                            "type": "string",
                            "minLength": 1
                          },
                          "organization": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "url": {
                                "type": "string",
                                "minLength": 1
                              }
                            }
                          }
                        },
                        "required": [
                          "keycloakId",
                          "userId",
                          "email"
                        ]
                      }
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "detail"
                  ]
                },
                "examples": {
                  "Example": {
                    "value": {
                      "type": "urn:dx:as:Success",
                      "title": "User details",
                      "results": [
                        {
                          "keycloakId": "c46e7a5d-7c2d-471e-8222-6a59a5095e7a",
                          "name": {
                            "firstName": "B",
                            "lastName": "c"
                          },
                          "roles": [
                            "PROVIDER",
                            "CONSUMER"
                          ],
                          "userId": "a13eb955-c691-4fd3-b200-f18bc78810b5",
                          "email": "bye@example.com",
                          "clients": [
                            {
                              "clientName": "default",
                              "clientId": "a3e7e34c-44bf-41ff-ad86-2ee04a954418"
                            }
                          ],
                          "phone": "1234567899",
                          "organization": {
                            "name": "example",
                            "url": "example.com"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - token invalid/expired"
          },
          "404": {
            "description": "User profile does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string",
                      "minLength": 1
                    },
                    "detail": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "detail"
                  ],
                  "x-examples": {
                    "example-1": {
                      "type": "urn:dx:as:MissingInformation",
                      "title": "User profile does not exist",
                      "detail": "Please register to create user profile"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "type": "urn:dx:as:MissingInformation",
                      "title": "User profile does not exist",
                      "detail": "Please register to create user profile"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get user profile ",
        "security": [
          {
            "OIDC Authentication": []
          }
        ],
        "tags": [
          "User Profile APIs"
        ]
      }
    },
    "/auth/v1/organizations": {
      "get": {
        "summary": "View all registered organizations",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string",
                      "minLength": 1
                    },
                    "detail": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "id",
                          "name",
                          "url"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "url": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "detail"
                  ],
                  "x-examples": {
                    "example-1": {
                      "type": "urn:dx:as:Success",
                      "title": "Organizations",
                      "detail": [
                        {
                          "id": "ea51dfff-dd8b-4528-8c0c-5881a482e825",
                          "name": "example",
                          "url": "example.com"
                        },
                        {
                          "id": "6e30ac8c-8a91-4420-9d9d-a3d007b4fbdf",
                          "name": "datakaveri",
                          "url": "datakaveri.org"
                        },
                        {
                          "id": "894777b1-e82a-4cf8-b99a-86fc3d7d707b",
                          "name": "IISc",
                          "url": "iisc.ac.in"
                        },
                        {
                          "id": "4a79add1-9630-42dc-8803-55d0c992f3a8",
                          "name": "NEC",
                          "url": "india.nec.org"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "type": "urn:dx:as:Success",
                      "title": "Organizations",
                      "detail": [
                        {
                          "id": "ea51dfff-dd8b-4528-8c0c-5881a482e825",
                          "name": "example",
                          "url": "example.com"
                        },
                        {
                          "id": "6e30ac8c-8a91-4420-9d9d-a3d007b4fbdf",
                          "name": "datakaveri",
                          "url": "datakaveri.org"
                        },
                        {
                          "id": "894777b1-e82a-4cf8-b99a-86fc3d7d707b",
                          "name": "IISc",
                          "url": "iisc.ac.in"
                        },
                        {
                          "id": "4a79add1-9630-42dc-8803-55d0c992f3a8",
                          "name": "NEC",
                          "url": "india.nec.org"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-organizations",
        "security": [
          {
            "OIDC Authentication": []
          }
        ],
        "description": "View all registered orgs"
      },
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "User": {
        "title": "User",
        "type": "object",
        "description": "",
        "x-examples": {
          "Alice Smith": {
            "id": 142,
            "firstName": "Alice",
            "lastName": "Smith",
            "email": "alice.smith@gmail.com",
            "dateOfBirth": "1997-10-31",
            "emailVerified": true,
            "signUpDate": "2019-08-24"
          }
        },
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the given user."
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date",
            "example": "1997-10-31"
          },
          "emailVerified": {
            "type": "boolean",
            "description": "Set to true if the user's email has been verified."
          },
          "createDate": {
            "type": "string",
            "format": "date",
            "description": "The date that the user was created."
          }
        },
        "required": [
          "id",
          "firstName",
          "lastName",
          "email",
          "emailVerified"
        ]
      }
    },
    "securitySchemes": {
      "OIDC Authentication": {
        "type": "openIdConnect",
        "description": "OIDC auth - JWT Identity token"
      },
      "Client ID and Client Secret": {
        "name": "Client ID",
        "type": "apiKey",
        "in": "header"
      }
    }
  },
  "tags": [
    {
      "name": "User Profile APIs"
    }
  ]
}