{
  "openapi": "3.0.0",
  "info": {
    "title": "IUDX AAA Server (2.0)",
    "version": "1.0",
    "description": "API spec for IUDX AAA server 2.0",
    "contact": {
      "name": "Foo",
      "url": "Bar"
    }
  },
  "servers": [
    {
      "url": "https://authorization.iudx.org.in"
    }
  ],
  "paths": {
    "/user/profile": {
      "post": {
        "summary": "Create a new user profile",
        "operationId": "post-user-profile",
        "responses": {
          "201": {
            "description": "User Created",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "keycloakId": "c0c52fd1-e9de-456c-b553-8d408e8d2a42",
                      "name": {
                        "firstName": "Foo",
                        "lastName": "Bar"
                      },
                      "roles": [
                        "CONSUMER"
                      ],
                      "userId": "67194fc9-495e-40f7-b016-4470c1d4397f",
                      "clients": [
                        {
                          "client": "default",
                          "clientId": "6d0b58c3-c0c4-48af-bca2-4f255c0e73a7",
                          "clientSecret": "a18cb9fc-06b3-4ae5-8220-86fc4e89a1a6"
                        }
                      ],
                      "email": "ngoaf@chspomvjuq.com"
                    }
                  },
                  "properties": {
                    "keycloakId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "name": {
                      "type": "object",
                      "required": [
                        "firstName",
                        "lastName"
                      ],
                      "properties": {
                        "firstName": {
                          "type": "string",
                          "minLength": 1
                        },
                        "lastName": {
                          "type": "string",
                          "minLength": 1
                        }
                      }
                    },
                    "roles": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "userId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "clients": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "client": {
                            "type": "string",
                            "minLength": 1
                          },
                          "clientId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "clientSecret": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "required": [
                          "client",
                          "clientId",
                          "clientSecret"
                        ]
                      }
                    },
                    "email": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "keycloakId",
                    "name",
                    "roles",
                    "userId",
                    "clients",
                    "email"
                  ]
                },
                "examples": {
                  "Example": {
                    "value": {
                      "keycloakId": "c0c52fd1-e9de-456c-b553-8d408e8d2a42",
                      "name": {
                        "firstName": "Foo",
                        "lastName": "Bar"
                      },
                      "roles": [
                        "CONSUMER"
                      ],
                      "userId": "67194fc9-495e-40f7-b016-4470c1d4397f",
                      "clients": [
                        {
                          "client": "default",
                          "clientId": "6d0b58c3-c0c4-48af-bca2-4f255c0e73a7",
                          "clientSecret": "a18cb9fc-06b3-4ae5-8220-86fc4e89a1a6"
                        }
                      ],
                      "email": "ngoaf@chspomvjuq.com"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing Required Information"
          },
          "409": {
            "description": "Email Already Taken"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roles": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "maxItems": 3,
                    "items": {
                      "type": "string",
                      "enum": [
                        "consumer",
                        "provider",
                        "delegate"
                      ]
                    }
                  },
                  "orgId": {
                    "type": "string",
                    "description": "The organization ID",
                    "format": "uuid"
                  },
                  "phone": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 10,
                    "pattern": "^[9876]\\d{9}$",
                    "example": "9845598989"
                  }
                },
                "required": [
                  "roles"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "roles": [
                      "consumer"
                    ],
                    "orgId": "25b2c2d5-a7fc-47d0-89e4-8709a1560bfa",
                    "phone": "9845598989"
                  }
                }
              }
            }
          },
          "description": "Post the necessary fields for the API to create a new user."
        },
        "description": "Create a new user profile",
        "security": [
          {
            "OIDC Authentication": []
          }
        ],
        "tags": [
          "User Profile APIs"
        ]
      },
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "User": {
        "title": "User",
        "type": "object",
        "description": "",
        "x-examples": {
          "Alice Smith": {
            "id": 142,
            "firstName": "Alice",
            "lastName": "Smith",
            "email": "alice.smith@gmail.com",
            "dateOfBirth": "1997-10-31",
            "emailVerified": true,
            "signUpDate": "2019-08-24"
          }
        },
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the given user."
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date",
            "example": "1997-10-31"
          },
          "emailVerified": {
            "type": "boolean",
            "description": "Set to true if the user's email has been verified."
          },
          "createDate": {
            "type": "string",
            "format": "date",
            "description": "The date that the user was created."
          }
        },
        "required": [
          "id",
          "firstName",
          "lastName",
          "email",
          "emailVerified"
        ]
      }
    },
    "securitySchemes": {
      "OIDC Authentication": {
        "type": "openIdConnect",
        "description": "OIDC auth - JWT Identity token"
      },
      "Client ID and Client Secret": {
        "name": "Client ID",
        "type": "apiKey",
        "in": "header"
      }
    }
  },
  "tags": [
    {
      "name": "User Profile APIs"
    }
  ]
}